# Task is to deploy tomcat in an EC2 instace using anisble playbook

---
- name : Tomcat deployment
  hosts : webservers
  user : ubuntu
  become : yes

  vars :
    tomcat_user : 'tomcat'
    tomcat_group : 'tomcat'
    tomcat_home : '/opt/tomcat'

  tasks :
  - name : update and upgrade instance
    apt :
      update_cache : yes
      force_apt_get : yes

  - name : Install open JDK as prerequisite for tomcat
    apt :
     name : openjdk-17-jdk
     state : present 

  - name : Create tomcat user with /opt/tomcat as the home directory and a member of the tomcat group.
    shell : |
      sudo groupadd {{tomcat_group}} || true
      sudo useradd -s /bin/false -g {{tomcat_group}} -d {{tomcat_home}} {{tomcat_user}} || true

    #- name : Install Tomcat
    #shell : |
    #  wget -O tomcat.tar.gz https://dlcdn.apache.org/tomcat/tomcat-11/v11.0.1/bin/apache-tomcat-11.0.1.tar.gz
    #  sudo mkdir /opt/tomcat
    #  sudo tar -xvzf tomcat.tar.gz -C /opt/tomcat --strip-components=1
    #  sudo rm -rf tomcat.tar.gz 

  - name : Download tomcat
    get_url :
      url : https://dlcdn.apache.org/tomcat/tomcat-11/v11.0.13/bin/apache-tomcat-11.0.13.tar.gz
      dest : /tmp/tomcat.tar.gz
  
  - name : Extract tomcat to /opt/tomcat directory
    unarchive :
      remote_src : yes
      src : /tmp/tomcat.tar.gz
      dest : "{{tomcat_home}}"
      extra_opts: [--strip-components=1]
      owner : "{{tomcat_user}}"
      group : "{{tomcat_group}}"

  - name : Set required ownships and permissions for tomcat home directory
    shell : |
      sudo chown -R {{tomcat_user}}:{{tomcat_group}} {{tomcat_home}}
      sudo chmod -R g+r {{tomcat_home}}
      sudo chmod g+x {{tomcat_home}}

  - name : Create a new tomcat.service system service file.
    copy:
      dest: /etc/systemd/system/tomcat.service
      content: |
        [Unit]
        Description=Apache Tomcat Web Application Container
        After=network.target

        [Service]
        Type=forking

        User={{ tomcat_user }}
        Group={{ tomcat_group }}

        Environment="JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64"
        Environment="CATALINA_PID={{ tomcat_home }}/temp/tomcat.pid"
        Environment="CATALINA_HOME={{ tomcat_home }}"
        Environment="CATALINA_BASE={{ tomcat_home }}"
        Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"
        Environment="JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom"

        ExecStart={{ tomcat_home }}/bin/startup.sh
        ExecStop={{ tomcat_home }}/bin/shutdown.sh

        [Install]
        WantedBy=multi-user.target

  - name : Start tomcat service
    shell : | 
      sudo systemctl daemon-reload
      sudo systemctl enable tomcat
      sudo systemctl start tomcat

