# Task is to deploy tomcat in an EC2 instace using anisble playbook

---
- name : Tomcat deployment
  hosts : webservers
  user : ubuntu
  become : yes

  tasks :
  - name : update and upgrade instance
    apt :
      update_cache : yes
      force_apt_get : yes

  - name : Install open JDK as prerequisite for tomcat
    apt :
     name : openjdk-17-jdk
     state : present 

  - name : Create tomcat user with /opt/tomcat as the home directory and a member of the tomcat group.
    shell : |
      sudo groupadd tomcat || true
      sudo useradd -s /bin/false -g tomcat -d /opt/tomcat tomcat || true

  - name : Install Tomcat
    shell : |
      wget -O tomcat.tar.gz https://dlcdn.apache.org/tomcat/tomcat-11/v11.0.1/bin/apache-tomcat-11.0.1.tar.gz
      sudo mkdir /opt/tomcat
      sudo tar -xvzf tomcat.tar.gz -C /opt/tomcat --strip-components=1
      sudo rm -rf tomcat.tar.gz

  - name : Set requireed ownships and permissions
    shell : |
      sudo chown -R tomcat:tomcat /opt/tomcat
      sudo chmod -R g+r /opt/tomcat
      sudo chmod g+x /opt/tomcat

  - name : Create a new tomcat.service system service file. and Start tomcat service
    shell : | 
      sudo nano /etc/systemd/system/tomcat.service
      sudo systemctl daemon-reload
      sudo systemctl enable tomcat
      sudo systemctl start tomcat

